/* common start */
body{
    font-family: "PT Sans", sans-serif;
   font-size:16px;
   font-weight:400px ;
   color: #898989;    /*paragraph color most used*/

}
.c_padding{
    padding-top:100px;
    padding-bottom:120px;
}
/* common end */
/* header :start */
header{
    background-color:#fcdb00;
    padding: 20px 0;
}
.c_nav{}
.logo{}
.menu{}
.menu ul li a{
     font-size:22px;
   font-weight:700;
   color: #010101 ;
   padding:0 30px !important;

}
.menu ul li:last-child a{
    padding-right:0px !important;
}
.menu ul li a:hover{
    color:white !important;
}
/* header :end */
/* slider :start */
.slider{
     background-color:#fcdb00;
     padding-bottom:100px;
}
.c_ind {
    bottom: -80px;
}
.c_ind [data-bs-target] {
    width: 15px;
    height: 15px;
    border-radius: 50%;
}

.s_text{}
.s_text h1{
       font-size:32px;
   font-weight:700;
   color: #010101; 
}
.s_text h2{
    font-size:32px;
   font-weight:400;
   color: #313841; 
   padding:20px 0;
}

.s_text p{
    color:#555555;
    margin-bottom: 35px;
}
.s_icon{}
.s_icon ul li{
    margin-right: 30px !important;
}
.s_icon ul li i{
    font-size:42px;
    color:#010101;
    transition-duration: .3s;
}
.s_icon ul li i:hover{
    transform: scale(.8);
    color:white;
}
.s_img{}
.s_img img{}
/* slider end */
/* feature start */
.feature{
    padding-top:100px;
    padding-bottom:120px;
}
.c_title{}
.c_h1{
    margin-bottom:15px;
     font-size:32px;
   font-weight:700;
   color: #010101; 
}
.c_p{
    color:#313841;
    font-size:20px;
    line-height: 28px;
}
.f_item{
    margin-top:70px;
}
.f_icon{}
.f_icon i{
    margin-top:2px;
    font-size:50px;
    color:#010101;
    transition-duration: .3s;
}
.f_icon i:hover{
    transform: scale(.8);
    color:white;
}
.f_text{}
.f_text h2{
    margin-bottom:10px;
    font-size:22px;
    font-weight:400;
    color:#010101
}
.f_text p{
    letter-spacing: 1px;
}
/* feature end */
/* contect start */
.contect{
    background-color: #010101;
}
.yellow{
    color:#fcdb00;
}
.ash{
    color:#898989;
}
.c_form{
    margin-top: 30px;
    margin-bottom: 60px;
}
.c_input{
    height:55px;
    font-family: "PT Sans", sans-serif;
    color:#898989;
    padding: 15px 20px;
}

.c_btn {
  padding: 15px 20px;
  background-color: #ffd700; 
  color: black;
  font-weight: bold;
  border: none;
  cursor: pointer;
  height: 100%;              
  font-size: 16px;
  border-radius: 10%;
  transition-duration: .3s;
}
.c_btn:hover{
     transform: scale(.8);
    background-color:white;
}
.c_icon{}
.c_icon li{
    margin-right: 35px !important;
}
.c_icon li:last child{
    margin-right:0 !important;
}
.c_icon li:first child{
    margin-right:0 !important;
}
.c_icon li i{
    font-size:40px;
    color:#fcdb00;
     transition-duration: .3s;
}
.c_icon li i:hover{
   transform: scale(.8);
    color:white;
}
/* contect end */
/* footer :start */
footer{
    background-color:#010101;
    padding-bottom: 120px;
}
.f_1{
    
}
.f_1 address{
    margin-left: 120px;
    color: #fff;
}
.f_2, .f_3, .f_4 ,.f_5 {}
.f_2 p a, .f_3 p a ,.f_4 p a ,.f_5 p a{
    color:white;
    text-decoration:none;
}
/* footer end */
